  <!-- ✅ Navbar -->
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
        <i class="fas fa-leaf me-2"></i>JanMitra
      </a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link text-white custom-nav-link" href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link text-white custom-nav-link" href="/report">Report Issue</a></li>
          <li class="nav-item"><a class="nav-link text-white custom-nav-link" href="/issues">Issues</a></li>
          <li class="nav-item"><a class="nav-link text-white custom-nav-link" href="/about">About</a></li>
        </ul>
        <a href="#register" class="btn custom-btn-register ms-3">SignUp/SignIn</a>
      </div>
    </div>
  </div>
</nav>