 <nav class="nav-navbar navbar-expand-lg">
    <div class="nav-container-fluid">
      <a class="nav-navbar-brand text-white" href="#">
        <i class="fas fa-leaf me-2"></i>Code4Earth
      </a>
      <button class="nav-navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#nav-navbarNav">
        <span class="nav-navbar-toggler-icon"></span>
      </button>
      <div class="nav-collapse nav-navbar-collapse" id="nav-navbarNav">
        <ul class="nav-navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-nav-item"><a class="nav-nav-link text-white" href="#">Home</a></li>
          <li class="nav-nav-item"><a class="nav-nav-link text-white" href="#">Report Issue</a></li>
          <li class="nav-nav-item"><a class="nav-nav-link text-white" href="#">Issues</a></li>
          <li class="nav-nav-item"><a class="nav-nav-link text-white" href="#">Blog</a></li>
          <li class="nav-nav-item"><a class="nav-nav-link text-white" href="#">About</a></li>
        </ul>
        <a href="#register" class="nav-btn nav-btn-register ms-3">Register Now →</a>
      </div>
    </div>
  </nav>