<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JanMitra- Your City, Your Voice, Our Responsibility</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-oBW3lF1K30g+1M0BHzs5gS3Z6uMFl9wprZWhz3v0zDgvlcS4ULPhP3u0jJ0Jfo1DrmQ1hHVrkLmSQT0zxcnPAA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/report.css">
    <link rel="stylesheet" href="/css/nav-footerstyle.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/issues.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/profile-styles.css">
</head>

<body>
    <%- include("../includes/navbar.ejs") %>
        <div class="container">
            <%- body || "" %>
        </div>

        <%- include("../includes/footer.ejs") %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>